<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Secret message</title>
</head>
<body>
<h1 th:text="${username} + 'You can do anything with determination and a good snack'"></h1>

<ul>
    <li th:text="'UserName: ' + ${username}"></li>
    <li th:text="'First Name: ' + ${firstname}"></li>
    <li th:text="'Last Name: ' + ${lastname}"></li>
    <li th:text="'Birthday: ' + ${birthday}"></li>
</ul>
<p th:text="${biography}"></p>



<h2>Followed users</h2>
<ul th:each="followedUser : ${usersIFollow}">
    <li th:text="${followedUser.username}"></li>
</ul>


<h2>Users that follow</h2>
<ul th:each="userThatFollow : ${usersWhoFollowMe}">
    <li th:text="${userThatFollows.username}"></li>
</ul>

</body>
</html>